body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #000;
    color: #fff;
    min-height: 100vh;
}

.container {
    font-size: 12em;
    text-shadow: 0 0 30px #00ff00,
    0 0 70px #00ff00,
    0 0 170px #00ff00;
    transition: 0.8s;
}